<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      font-size: 50px;
      font-weight: bold;
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-secondary text-white">
  <h1>Welcome to Free Food Finder! Please login</h1>
  <form action="/checklogin" method="post">
  	<div>
    	<input type="text" name="username" class="form-control" placeholder="Enter username here">
	</div>
	<div>    
    	<input type="password" name="password" class="form-control" placeholder="Enter password here">
    </div>
    <div>
      <input type="submit" class="btn btn-dark btn-lg" value="Login">
    </div>
  </form>
  <%if (req.query.message != "") { %>
  <font color="red"><%= req.query.message %><p>
  <% } %>
  <button onclick="window.location.href = '/signup';" class="btn btn-dark btn-sm">Create account</button>
</body>
</html>